
fe_client/.vs/
fe_client/Library/
fe_client/Logs/
fe_client/obj/
fe_client/Temp/
fe_client/UserSettings/
fe_client/.vsconfig
fe_client/fe_client.sln
fe_client/Assembly-CSharp.csproj
fe_client/Unity.Scripting.Python.Samples.PySide.csproj
.DS_Store
fe_client/.vscode/
fe_client/Unity.Scripting.Python.Samples.PySide.csproj
fe_client/mono_crash.c3dca6d08.0.json
fe_client/Assets/Purchased
fe_client/Assets/Purchased.meta
fe_client/Assets/Samples
fe_client/Unity.Scripting.Python.Samples.PySide.csproj
fe_client/Assembly-CSharp-Editor.csproj
fe_client/InputSystem.Samples.Visualizers.csproj
fe_client/Unity.Scripting.Python.Samples.PySide.csproj
fe_client/Assembly-CSharp-firstpass.csproj
fe_client/Unity.Scripting.Python.Samples.PySide.csproj
